{% load i18n %}
	<div class="container">
		<div class="row hidden-xs">
			<div class="col-md-6 col-sm-6">
	    		{% trans "Contact" %} <span class="zb-green glyphicon glyphicon-fire"></span> <a href="">hola@zombit.es</a></span>
	    	</div>
	    	<div class="col-md-6 col-sm-6 text-right">
	    		{% trans "Mutual support" %} <span class="zb-green glyphicon glyphicon-transfer"></span> <a target="_blank" href="//servicios.hackandalus.net">hackandalus</a>
			</div>
		</div>
		<div class="row visible-xs">
			<div class="col-xs-12 text-center">
	    		{% trans "Contact" %} <span class="zb-green glyphicon glyphicon-fire"></span> <a href="">hola@zombit.es</a></span>
	    	</div>
	    	<div class="col-xs-12 text-center">
	    		{% trans "Mutual support" %} <span class="zb-green glyphicon glyphicon-transfer"></span> <a target="_blank" href="//servicios.hackandalus.net">hackandalus</a>
			</div>
		</div>

	</div>